.page-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px auto;
    background: var(--color-primary);
}

.navbar-container {
    background: var(--color-secondary);
}

.body-container {
    display: grid;
    grid-template-rows: 110px 1fr;
    grid-gap: 15px;
    padding: 15px;
}


.row {
    display: grid;
    grid-gap: 15px;
    width: 100%;
}

.first {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.second {
    grid-template-columns: 1.5fr 1.3fr 2fr;
}