.bill {
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 80px 70px 70px auto 30px;
    grid-gap: 5px;
    align-items: center;


    color: white;
    border-bottom: 2px solid var(--color-primary);
}

.bill-date {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}

.bill-day {
    font-weight: bold;
}

.bill-day-week {
    font-size: 11px;
    opacity: 0.7;
}

.bill-type .tag {
    background: var(--color-green);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.bill-value,
.bill-name {
    font-weight: bold;
}