* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
html,
input {
  font-size: 14px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #333D5E;
  --color-secondary: #3F4B72;
  --color-green: #37AB84;
  --color-purple: #7855BE;
  --color-pink: #D25694;
  --color-blue: #599DD1;

  --column-1: 6.25%;
  --column-2: 12.5%;
  --column-3: 18.75%;
  --column-4: 25%;
  --column-5: 31.25%;
  --column-6: 37.5%;
  --column-7: 43.75%;
  --column-8: 50%;
  --column-9: 56.25%;
  --column-10: 62.5%;
  --column-11: 68.75%;
  --column-12: 75%;
  --column-13: 81.25%;
  --column-14: 87.5%;
  --column-15: 93.75%;
  --column-16: 100%;
}